POSTGRES_DB=awesome_pizza
POSTGRES_USER=pizza
POSTGRES_PASSWORD=pizza
POSTGRES_PORT=5432
DATABASE_SCHEMA=awesome_pizza

APP_PORT=8080
FRONTEND_PORT=4200
ADMIN_USERNAME=pizzaiolo
ADMIN_PASSWORD=PasswordSicura123!
JWT_SECRET_BASE64=MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE=
JWT_ISSUER=awesome-pizza
JWT_ACCESS_TOKEN_TTL=PT1H
CORS_ALLOWED_ORIGINS=http://localhost:4200
